<div class="main">
  <!-- <h2>Design Template</h2> -->
  <div class="container">
    <div class="row pt-4">
      <div class="col card shadow p-0">
        <ngb-tabset justify="justified">
          <ngb-tab>
            <ng-template ngbTabTitle
              ><span class="tab-title">Launch</span></ng-template
            >
            <ng-template ngbTabContent>
              <app-launch></app-launch>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle
              ><span class="tab-title">Launch Dashboard</span></ng-template
            >
            <ng-template ngbTabContent
              ><app-launch-dashboard></app-launch-dashboard>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
        <!-- <nav>
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a
              class="nav-item nav-link active shadow"
              id="nav-launch-tab"
              data-toggle="tab"
              href="#nav-launch"
              role="tab"
              aria-controls="nav-launch"
              aria-selected="true"
              >Launch</a
            >
            <a
              class="nav-item nav-link shadow"
              id="nav-launch-dashboard-tab"
              data-toggle="tab"
              href="#nav-launch-dashboard"
              role="tab"
              aria-controls="nav-launch-dashboard"
              aria-selected="false"
              >Launch Dashboard</a
            >
          </div>
        </nav>
        <div class="tab-content px-3 px-sm-0" id="nav-tabContent">
          <div
            class="tab-pane fade show active"
            id="nav-launch"
            role="tabpanel"
            aria-labelledby="nav-launch-tab"
          >
            <app-launch></app-launch>
          </div>
          <div
            class="tab-pane fade"
            id="nav-launch-dashboard"
            role="tabpanel"
            aria-labelledby="nav-launch-dashboard-tab"
          >
            <app-launch-dashboard></app-launch-dashboard>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
