<div class="main">
  <div class="container-fluid">
    <div class="row pt-4">
      <div class="col card shadow p-0">
        <ngb-tabset justify="justified">
          <ngb-tab>
            <ng-template ngbTabTitle
              ><span class="tab-title">Launch</span></ng-template
            >
            <ng-template ngbTabContent>
              <app-launch></app-launch>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle
              ><span class="tab-title">Launch Dashboard</span></ng-template
            >
            <ng-template ngbTabContent
              ><app-launch-dashboard></app-launch-dashboard>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>
