.modal-header {
    color: #ffffff !important;
    background-color: #5b2e8f !important;
}

// .dialog
// // {
// //     color: #721c24;
// //     background-color: #f8d7da;
// //     border-color: #f5c6cb;
// //}
li,
li~span {
    font-size: 20px;
}

.close {
    border: solid;
}