@import "../../../shared/styles/variables.scss";
form {
  width: 50%;
  margin: auto;
  text-align: left;
}

.bg-search {
  background-color: $white-color !important;
  color: #6c757d;
}

.submit-btn {
  width: -webkit-fill-available;
  color: $white-color;
  background-color: $maroon-color;
  border: 1px solid $maroon-color;
  padding: 10px;
  margin-top: 10px;
  font-size: 18px;
}


.custom-file-label::after {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  height: calc(1.5em + 0.75rem);
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: #ffffff;
  content: "Browse";
  background-color: #97146b;
  border-left: inherit;
  border-radius: 0 0.25rem 0.25rem 0;
}

.custom-button{
  background-color: #97146b;
  margin-left: 466px;
  color: #ffffff !important;
}
.Xbox{
  font-weight: bold;
  text-align: center;
  width: 45px;
  height: 40px;
  position: absolute;
  right: 90px;
  z-index: 3333;
  top: 0;
  border: none;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.xinput:focus, .xinput:active, .xinput:only-child, .xinput{
  z-index: 1;
}

.example-full-width {
  width: 100%;
}

.mat-input-element {
  font: inherit;
  background: transparent;
  color: #495057;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
  text-align: inherit;
  font-size: 1rem;
  font-weight: 400;
}



.country-code{
 
    color:  #495057;
    font-weight: 400;
    font-size: 1rem;
    padding-bottom: 1.2rem;

}

.alert{
  padding: 0.50rem 1.25rem;
}



