<div class="main text-center mx-auto">
  <div class="container">
    <form [formGroup]="form">
      <div class="form-group">
        <label>TemplateId</label><br>
        <mat-form-field floatLabel = "never" class="example-full-width">
          <mat-select placeholder = "select the id" formControlName="templateId" (selectionChange) = "onTemplateIdChange()">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let data of templateDropDown" [value]="data">{{data.templateId}}-{{data.template_name}}</mat-option>
          </mat-select>
        </mat-form-field>
        </div>

        <div *ngIf = "showTemplateMessageFlag" class="form-group">
          <label for="template">Template</label>
          <textarea [readonly] = "true"
            class="form-control"
            formControlName="template"
            id="template"
            rows="3"
          ></textarea>
        </div>

      <div class="form-group">
        <label>TimeZones</label><br>
        <mat-form-field class="example-full-width" floatLabel = "never">
          <input type="text"
                 placeholder="select time zones"
                 aria-label="Number"
                 matInput
                 [formControl]="form.controls['timeZone']"
                 formControlName = "timeZone"
                 [matAutocomplete]="auto" class="form-control">
          <mat-autocomplete #auto="matAutocomplete" [displayWith] = "displayFn.bind(this)">
            <mat-option *ngFor="let timeZone of filteredOptions | async " [value]="timeZone.utc[0]">
              {{timeZone.text}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="form-group">
        <div class="country-code">
        <label>CountryCode</label>
        <ng-multiselect-dropdown formControlName="countryCodes" 
        placeholder="select country code"
        [settings]="dropdownSettings"
        [data]="countryCodeList"
        >
        <mat-icon matSuffix>search</mat-icon>
        </ng-multiselect-dropdown>
      </div>
      </div>
      <div class="form-group">
        <label>Campaign Start Date</label>
        <div class="input-group">
          <input
            class="form-control bg-search btn-outline-secondary"
            placeholder="Campaign Start Date"
            formControlName="campaignStartDate"
            name="fromDate"
            (dateSelect)="onFromDateChange($event)"
            [maxDate]="fromMaxDate"
            [minDate]="fromMinDate"
            ngbDatepicker
            readonly
            #fromDate="ngbDatepicker"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary"
              (click)="fromDate.toggle()"
              type="button"
            >
              <i class="fa fa-calendar-check-o"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Trigger Time</label>
        <ngb-timepicker
          formControlName="triggerTime"
          [meridian]="false"
          [spinners]="false"
          (ngModelChange) = "triggerTimeValidator()"
        ></ngb-timepicker>
         <div class = "alert alert-danger" *ngIf = "form.get('triggerTime').invalid && (form.get('triggerTime').dirty || form.get('triggerTime').touched)">
           <small *ngIf = "form.get('triggerTime').hasError('triggerTimeError') && form.get('triggerTime').errors.triggerTimeError" class="medium form-text text-danger">Time sholud not be less than current time</small>
         </div>
      </div>
      <div class="form-group">
        <label>Campaign End Date</label>
        <div class="input-group">
          <input
            class="form-control bg-search btn-outline-secondary"
            placeholder="Campaign End Date"
            name="endDate"
            formControlName="campaignEndDate"
            (dateSelect)="onToDateChange($event)"
            [maxDate]="toMaxDate"
            [minDate]="toMinDate"
            ngbDatepicker
            readonly
            #endDate="ngbDatepicker"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary"
              (click)="endDate.toggle()"
              type="button"
            >
              <i class="fa fa-calendar-check-o"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Choose File</label>
        <div class="input-group">
          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input xinput"
              id="inputGroupFile"
              formControlName="importFile"
              (change)="onFileChange($event.target.files)" />
              <!-- <div class="Xbox"> --> 
                <button class = "custom-button Xbox"  *ngIf = "fileToUpload" type="button" (click) = "cancelFileUpload()">X</button>
              <!-- </div> -->
            <!-- </input> -->
            <label class="custom-file-label" for="inputGroupFile" #labelImport>Choose file</label>
          </div>
        </div>
        <div *ngIf = "onlyPdf" class="alert alert-danger">
        <small *ngIf = "onlyPdf" class="medium form-text text-danger">Only pdf is allowed</small>
      </div>
        <!-- <button class = "custom-button" *ngIf = "fileToUpload" type="button" (click) = "cancelFileUpload()">Cancel</button> -->
      </div>
      <button
        type="button"
        [disabled]="form.invalid || loading"
        class="btn submit-btn shadow"
        (click)="onSubmit()"
      >
        <span
          *ngIf="loading"
          class="spinner-border"
          style="width: 2rem; height: 2rem;"
          aria-hidden="true"
        >
        </span>
        <span *ngIf="!loading"> {{ submitButtonText }}</span>
      </button>
    </form>
  </div>
</div>
