@import "../../styles/variables.scss";

.user-profile {
  float: right;
  margin-top: -40px;
  margin-right: -70px;
  .username {
    font-size: 18px;
    color: $maroon-color;
  }
}

.logout-btn {
  background-color: $maroon-color;
  color: $white-color;
}

.logout-btn:hover {
  color: $white-color;
}

.text-message {
  color: $maroon-color;
}
