<div class="main">
  <div class="container">
    <div class="row">
      <div class="col card shadow p-0">
        <ngb-tabset justify="justified">
          <ngb-tab>
            <ng-template ngbTabTitle>
              <span class="tab-title">Dashboard</span>
            </ng-template>
            <ng-template ngbTabContent>
              <app-dashboard></app-dashboard>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <span class="tab-title">Message Template</span>
            </ng-template>
            <ng-template ngbTabContent
              ><app-message-template [timeZonesList] = "timeZonesList" ></app-message-template>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <span class="tab-title">Promotional Template</span>
            </ng-template>
            <ng-template ngbTabContent
              ><app-promotional-template [timeZonesList] = "timeZonesList"></app-promotional-template>
            </ng-template>
          </ngb-tab>
          <!-- <ngb-tab>
            <ng-template ngbTabTitle>
              <span class="tab-title">Pre Approved Offers</span>
            </ng-template>
            <ng-template ngbTabContent
              ><app-pre-approved-offers [timeZonesList] = "timeZonesList"></app-pre-approved-offers>
            </ng-template>
          </ngb-tab> -->
        </ngb-tabset>
      </div>
    </div>
  </div>
</div>
