    <div class="header p-2">
        <h3>Schedule Block Time</h3>
    
    </div>
    <h4 class="mt-2 mb-3">Time Zone </h4> 
        <span>{{timeZoneText}}</span>
    <form [formGroup]="forms" class="mt-4">
        <div class="col-12 row d-flex p-0">
        <div class="col-6">
        <div class="form-group pl-4">
            <label for = "fromTimePicker"><b>From Time</b></label>
                <ngb-timepicker id = "fromTimePicker"
                formControlName = "FromTime"
                [spinners] = "false"
                
         >
    </ngb-timepicker>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label for="toTimePicker"><b>To Time</b></label>
                    <ngb-timepicker id = "toTimePicker"
                    formControlName = "ToTime"  
                    [spinners] = "false"
                >
            </ngb-timepicker>
        </div>
    </div>
</div>
        

</form>
<div class="mt-3">
    <div class="row col-12 d-flex justify-content-center">
<button class="btn submit-btn shadow header text-white mr-2" [disabled] = "forms.invalid || !forms.dirty" (click) = OnEdit()>Schedule</button>
    <button class="btn submit-btn shadow header text-white" mat-dialog-close>Close</button>
    </div>
<!-- <span
  *ngIf="loading"
  class="spinner-border"
  style="width: 2rem; height: 2rem;"
  aria-hidden="true"
>
</span> -->

</div>