<div class="login mx-auto my-auto">
  <div class="admin_img">
    <img src="../../assets/axis_admin_logo.png" alt="" srcset="" />
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email ID</label>
      <input
        type="email"
        formControlName="emailId"
        id="email"
        placeholder="Enter your Email ID"
        aria-describedby="emailHelp"
        autocomplete="off"
        class="form-control"
        autofocus
        required
      />
      <small id="emailHelp" class="form-text text-muted"
        >Enter a valid email with axis bank domain</small
      >
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        formControlName="password"
        id="password"
        placeholder="Enter your password"
        aria-describedby="passwordHelp"
        autocomplete="off"
        class="form-control"
        required
      />
      <small id="passwordHelp" class="form-text text-muted"
        >Enter a valid password with miminum of 8 characters</small
      >
    </div>
    <a routerLink="/public/forgot-password">Forgot Password?</a>
    <button [disabled]="loginForm.invalid || loading">
      <span
        *ngIf="loading"
        class="spinner-border"
        style="width: 2rem; height: 2rem;"
        aria-hidden="true"
      >
      </span>
     <span *ngIf="!loading"> {{ loginButtonText }}</span>
    </button>
  </form>
</div>
