@import "../../shared/styles/variables.scss";

.submit-btn {
  width: -webkit-fill-available;
  color: $white-color;
  background-color: $maroon-color;
  border: 1px solid $maroon-color;
  padding: 10px;
  margin-top: 10px;
  font-size: 18px;
}


input[type="checkbox"] {
  margin-top: 7px !important;
}

.errMsg {
  padding-left: 6.3rem !important;
  font-size: 13px;
}

