@import "../../shared/styles/variables.scss";

button {
  width: -webkit-fill-available;
  color: $white-color;
  background-color: $maroon-color;
  border: 1px solid $maroon-color;
  padding: 10px;
  margin-top: 10px;
  font-size: 18px;
}
