<div class="login mx-auto my-auto">
  <div class="admin_img">
    <img src="../../assets/axis_admin_logo.png" alt="" srcset="" />
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email ID</label>
      <input
        type="email"
        formControlName="emailId"
        id="email"
        placeholder="Enter your Email ID"
        aria-describedby="emailHelp"
        autocomplete="off"
        class="form-control"
        autofocus
        required
      />
      <small id="emailHelp" class="form-text text-muted"
        >Enter a valid email with axis bank domain</small
      >
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        formControlName="password"
        id="password"
        placeholder="Enter your password"
        aria-describedby="passwordHelp"
        autocomplete="off"
        class="form-control"
        required
      />
      <small id="passwordHelp" class="form-text text-muted"
        >Enter a valid password with miminum of 8 characters</small
      >
    </div>
    <a routerLink="/public/forgot-password">Forgot Password?</a><br />
    <button [disabled]="loginForm.invalid || loading">
      {{ loginButtonText }}
    </button>
  </form>
</div>
