<div class="p-40">
  <form [formGroup]="form" (ngSubmit)="fetchUser()">
    <div class="form-group">
      <label for="emailId">Email ID</label><br />
      <input
        type="email"
        formControlName="emailId"
        id="emailId"
        placeholder="Eg: user@axisbank.com"
        class="form-control"
        autocomplete="off"
      />
    </div>
    <button
      id="block_user"
      [disabled]="form.invalid || fetchUserLoading || disableUserLoading"
    >
      <span
        *ngIf="fetchUserLoading"
        class="spinner-border"
        style="width: 2rem; height: 2rem;"
        aria-hidden="true"
      >
      </span>
      <span *ngIf="!fetchUserLoading">{{ submitButtontext }}</span>
    </button>
  </form>
</div>

<div id="block_details" *ngIf="userDetail">
  <div class="row list">
    <div class="col-4"><h3>Email</h3></div>
    <div class="col-8">
      <h5>{{ userDetail.emailId }}</h5>
    </div>
    <div class="col-4"><h3>Creation Date</h3></div>
    <div class="col-8">
      <h5>{{ userDetail.createdAt | date: "dd/MM/yyyy" }}</h5>
    </div>
    <div class="col-4"><h3>Last Login</h3></div>
    <div class="col-8">
      <h5>
        {{
          !userDetail.lastLogin
            ? "NA "
            : (userDetail.lastLogin | date: "dd/MM/yyyy")
        }}
      </h5>
    </div>
    <div class="col-4"><h3>Disable Date</h3></div>
    <div class="col-8">
      <h5>{{ today | date: "dd/MM/yyyy" }}</h5>
    </div>
    <div class="col-4"><h3>Role</h3></div>
    <div class="col-8">
      <h5>{{ userDetail.role | uppercase }}</h5>
    </div>
  </div>
  <button (click)="disableUser()">Disable User</button>
</div>
