button {
  width: -webkit-fill-available;
  color: #fff;
  background-color: #97144d;
  border: 1px solid #97144d;
  padding: 10px;
  margin-top: 10px;
  font-size: 18px;
}

.card-header {
  background-color: #97144d;
  color: #fff;
  padding: 0.75rem !important;
}

.checkbox-title {
  font-size: 16px;
  color: #212529;
}
