<div class="login shadow-lg">
  <div class="card-header text-center">
    Change Password
  </div>
  <div class="p-4">
    <form [formGroup]="form" (ngSubmit)="changePassword()">
      <div class="form-group">
        <label for="current-password">Current Password</label>
        <input
          type="password"
          formControlName="currentPassword"
          id="current-password"
          placeholder="Eg: User@123"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="new-password">New Password</label>
        <input
          type="password"
          formControlName="newPassword"
          id="new-password"
          placeholder="Eg: Axis@123"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="confirm-password">Confirm New Password</label>
        <input
          type="password"
          formControlName="confirmPassword"
          id="confirm-password"
          placeholder="Eg: Axis@123"
          class="form-control"
        />
      </div>
      <button [disabled]="form.invalid || loading">
        <span
          *ngIf="loading"
          class="spinner-border"
          style="width: 2rem; height: 2rem;"
          aria-hidden="true"
        >
        </span>
        <span *ngIf="!loading">{{ changePasswordButtonText }}</span>
      </button>
    </form>
  </div>
</div>
