@import "../../../shared/styles/variables.scss";

tr {
  td {
    vertical-align: middle;
    font-size: 14px;
    button {
      width: -webkit-fill-available;
      color: $white-color;
      background-color: $maroon-color;
      border: 1px solid $maroon-color;
      font-size: 12px;
    }
  }

  th {
    vertical-align: middle;
    color: $maroon-color !important;
  }
}
table {
  margin-bottom: 0rem !important;
}

.bg-search {
  background-color: $white-color !important;
  color: #6c757d;
}

.loading-indicator  {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.uploader-status ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke:#97144d !important;
}
