<div class="main text-center mx-auto">
  <div class="container">
    <form [formGroup]="form">
      <div class="form-group">
        <label for="template">Template</label>
        <textarea
          class="form-control"
          formControlName="template"
          id="template"
          rows="3"
        ></textarea>
      </div>
      <div class="form-group">
        <label>No Of Dynamic Parameters</label>
        <select class="custom-select" formControlName="noOfDynamicParameters">
          <option *ngFor="let item of [0, 1, 2, 3, 4, 5]" [value]="item">{{
            item
          }}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Campaign Start Date</label>
        <div class="input-group">
          <input
            class="form-control bg-search btn-outline-secondary"
            placeholder="Campaign Start Date"
            formControlName="campaignStartDate"
            name="fromDate"
            (dateSelect)="onFromDateChange($event)"
            [maxDate]="fromMaxDate"
            [minDate]="fromMinDate"
            ngbDatepicker
            readonly
            #fromDate="ngbDatepicker"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary"
              (click)="fromDate.toggle()"
              type="button"
            >
              <i class="fa fa-calendar-check-o"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Trigger Time</label>
        <ngb-timepicker
          formControlName="triggerTime"
          [meridian]="false"
          [spinners]="false"
        ></ngb-timepicker>
      </div>
      <div class="form-group">
        <label>Campaign End Date</label>
        <div class="input-group">
          <input
            class="form-control bg-search btn-outline-secondary"
            placeholder="Campaign End Date"
            name="endDate"
            formControlName="campaignEndDate"
            (dateSelect)="onToDateChange($event)"
            [maxDate]="toMaxDate"
            [minDate]="toMinDate"
            ngbDatepicker
            readonly
            #endDate="ngbDatepicker"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary"
              (click)="endDate.toggle()"
              type="button"
            >
              <i class="fa fa-calendar-check-o"></i>
            </button>
          </div>
        </div>
      </div>
      <h4 class="text-message">Data File</h4>
      <div class="form-group">
        <label>Customer Base</label>
        <select class="custom-select" formControlName="customerBase">
          <option *ngFor="let item of customerBaseoptions" [value]="item">{{
            item
          }}</option>
        </select>
      </div>

      <div class="form-group">
        <label>Choose File</label>
        <div class="input-group">
          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input"
              id="inputGroupFile"
              formControlName="importFile"
              (change)="onFileChange($event.target.files)"
            />
            <label class="custom-file-label" for="inputGroupFile" #labelImport
              >Choose file</label
            >
          </div>
        </div>
      </div>
      <button
        type="button"
        [disabled]="form.invalid || loading"
        class="btn submit-btn shadow"
        (click)="onSubmit()"
      >
        {{ submitButtonText }}
      </button>
    </form>
  </div>
</div>
