/* You can add global styles to this file, and also import other style files */

@import "app/shared/styles/variables.scss";

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 3rem;
}

.logo {
  position: relative;
  height: 68px;
}

.logo::before {
  position: absolute;
  content: " ";
  width: 100%;
  height: 13px;
  top: 0;
  left: 0;
  background-color: $maroon-color;
}

.logo h4 {
  top: 25px;
  position: relative;
  float: right;
  color: $maroon-color;
  font-size: 18px;
}

.sidenav {
  min-height: calc(100vh - 68px);
  width: 160px;
  position: absolute;
  z-index: 1;
  top: 68px;
  bottom: 0;
  left: 0;
  background-color: #f3f3f3;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 14px;
  color: #21313a;
  display: block;
}

.sidenav a:hover {
  background-color: #e7e7e7;
  color: $maroon-color;
  border-left: 4px solid $maroon-color;
  background-image: url("assets/sidemenu-hover-icon.png");
  background-repeat: no-repeat;
  background-position: right;
  font-size: 15px;
  text-decoration: none;
}

.sidenav .active {
  background-color: #e7e7e7;
  color: $maroon-color;
  border-left: 4px solid $maroon-color;
  background-image: url("assets/sidemenu-hover-icon.png");
  background-repeat: no-repeat;
  background-position: right;
  font-size: 15px;
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  width: 100%;
  background-color: #f3f3f3;
}

footer h6 {
  font-size: 10px;
  color: $maroon-color;
  padding: 5px;
  margin-top: 20px;
}

.text-message {
  color: $maroon-color;
}

.bg-maroon {
  background-color: $maroon-color;
  color: $white-color;
}

label,
a {
  color: $maroon-color;
}

label {
  font-size: 18px;
}

a {
  font-size: 12px;
}

a:hover {
  border: none;
  color: $maroon-color;
}

.login {
  width: 30%;
  margin: auto;
  background: #ffffff;
  border: 1px solid #6c757d;
  box-shadow: 2px 2px #ded9d9;
}

.login input {
  border: 1px solid #6c757d;
  background-color: #ffffff;
  color: #1e2126;
  font-size: 14px;
}

h3 {
  font-size: 20px;
  color: $maroon-color;
}

.login p {
  font-size: 13px;
}

h1 {
  font-size: 30px;
  font-weight: lighter;
  color: #1e2126;
}

h4 img {
  height: 35px;
  margin-right: 15px;
  border-radius: 50px;
}

.admin_img {
  text-align: center;
  margin-bottom: 20px;
}

.admin_img img {
  width: 50%;
}

/* login page css end  */

/* side bar style start */

.main {
  margin-left: 160px;
  /* Same as the width of the sidenav */
  font-size: 20px;
  /* Increased text to enable scrolling */
  padding: 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 14px;
  }
}

/* side bar style end  */

/* dash board style start  */

h2 {
  color: $maroon-color;
  font-size: 22px;
}

.user {
  width: 40%;
  margin: auto;
  background: #ffffff;
  border: 1px solid #6c757d;
}

.user input {
  background: #ffffff;
  border: 1px solid #6c757d;
  color: #1e2126;
  font-size: 14px;
}

select,
option {
  background-color: $white-color !important;
  border-color: #6c757d !important;
}

.user a {
  font-size: 14px;
  color: #8d8d8d;
}

.nav-tabs .nav-item.show .nav-link,
.nav-link.active {
  color: $white-color !important;
  background-color: $maroon-color !important;
}
.nav-link,
.nav-link:hover {
  color: $maroon-color;
}

.nav-link.active :hover {
  color: $white-color !important;
}

.nav-tabs {
  border-bottom: 2px solid $maroon-color;
}

/* dashboard style end  */

/* block list style start  */

::placeholder {
  font-size: 15px;
  color: #b6b8c0 !important;
}

td,
th {
  border: 1px solid #dbdcdf;
  text-align: left;
  padding: 8px;
  background-color: #f9fafa;
  text-align: center;
}

th {
  font-size: 13px;
  color: $maroon-color;
  background-color: #f3f3f3;
}

td {
  font-size: 12px;
}

table button {
  border-radius: 5px;
  padding: 0 5px;
  margin-top: 0;
  font-size: 14px;
}

.search_btn button {
  background: #e7e7e7;
  font-size: 13px;
  color: white;
  background-color: $maroon-color;
  border: none;
  margin-top: 0;
  padding: 5px;
}

.modal-footer {
  .btn-confirm,
  .btn-confirm:hover {
    background-color: $maroon-color;
    color: $white-color;
  }
}

/* block list style end  */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
