<div class="main">
  <h2 *ngIf="isViewOnly">View Whatsapp</h2>
  <h2 *ngIf="!isViewOnly">Block Whatsapp</h2>
  <div class="p-2"></div>
  <div class="row">
    <div class="col">
      <div
        class="border border-secondary p-1 bg-search rounded-pill shadow-sm mb-4"
      >
        <div class="input-group">
          <div class="input-group-prepend">
            <button
              id="button-addon2"
              type="submit"
              class="btn btn-link search-icon"
            >
              <i class="fa fa-search"></i>
            </button>
          </div>
          <input
            type="number"
            placeholder="Type phone number to search"
            aria-describedby="button-addon2"
            class="form-control border-0 bg-search"
            #searchInput
            (keyup)="validate(searchInput)"
            autofocus
          />
        </div>
      </div>
    </div>
    <div class="col-8" *ngIf="!isViewOnly">
      <form [formGroup]="form">
        <div class="form-row mt-1">
          <div class="col">
            <div class="input-group">
              <input
                class="form-control bg-search btn-outline-secondary"
                placeholder="From Date"
                name="fromDate"
                formControlName="fromDate"
                (dateSelect)="onFromDateChange($event)"
                ngbDatepicker
                [maxDate]="fromMaxDate"
                [minDate]="fromMinDate"
                readonly
                #fromDate="ngbDatepicker"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary"
                  (click)="fromDate.toggle()"
                  type="button"
                >
                  <i class="fa fa-calendar-o"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="input-group">
              <input
                class="form-control bg-search btn-outline-secondary"
                placeholder="To Date"
                name="toDate"
                formControlName="toDate"
                (dateSelect)="onToDateChange($event)"
                ngbDatepicker
                readonly
                [maxDate]="toMaxDate"
                [minDate]="toMinDate"
                #toDate="ngbDatepicker"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary"
                  (click)="toDate.toggle()"
                  type="button"
                >
                  <i class="fa fa-calendar-o"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="col">
            <select
              class="custom-select"
              formControlName="filterType"
              title="Filter Type"
              id="role"
            >
              <option *ngFor="let option of filterOptions" [value]="option">{{
                option | uppercase
              }}</option>
            </select>
          </div>
          <div class="col search_btn">
            <button
              class="shadow"
              (click)="onSubmit()"
              [disabled]="form.invalid || reportLoading"
            >
              {{ submitButtonText }}
            </button>
          </div>
        </div>
        <!-- <div class="col">
            <div class="input-group">
              <input
                class="form-control bg-search"
                placeholder="From Date"
                name="fromDate"
                formControlName="fromDate"
                (dateSelect)="onFromDateChange($event)"
                ngbDatepicker
                [maxDate]="fromMaxDate"
                [minDate]="fromMinDate"
                readonly
                #fromDate="ngbDatepicker"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary"
                  (click)="fromDate.toggle()"
                  type="button"
                >
                  <i class="fa fa-calendar-o"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="input-group">
              <input
                class="form-control bg-search"
                placeholder="To Date"
                name="toDate"
                formControlName="toDate"
                (dateSelect)="onToDateChange($event)"
                ngbDatepicker
                readonly
                [maxDate]="toMaxDate"
                [minDate]="toMinDate"
                #toDate="ngbDatepicker"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary"
                  (click)="toDate.toggle()"
                  type="button"
                >
                  <i class="fa fa-calendar-o"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="col">
            <select
              class="custom-select"
              formControlName="filterType"
              title="Filter Type"
              id="role"
            >
              <option *ngFor="let option of filterOptions" [value]="option">{{
                option | uppercase
              }}</option>
            </select>
          </div>
          <div class="col search_btn">
            <button
              (click)="onSubmit()"
              [disabled]="form.invalid || reportLoading"
            >
              {{ submitButtonText }}
            </button>
          </div> -->
      </form>
    </div>
  </div>
  <table class="shadow">
    <tr>
      <th *ngFor="let header of tableHeaders">
        {{ header }}
      </th>
    </tr>
    <tr *ngIf="userDetail">
      <td>
        {{ userDetail.mobileNumber }}
      </td>
      <td>
        <i
          *ngIf="userDetail.optInStatus === 'Opt In'"
          class="fa fa-check-circle-o fa-2x text-success"
          aria-hidden="true"
        ></i>
        <i
          *ngIf="userDetail.optInStatus !== 'Opt In'"
          class="fa fa-times-circle-o fa-2x text-daner"
          aria-hidden="true"
        ></i>
      </td>
      <td>
        {{ userDetail.optInDate }}
      </td>
      <td>
        {{ userDetail.optInChannel }}
      </td>
      <td>
        <i
          *ngIf="userDetail.optOutStatus === 'Opt Out'"
          class="fa fa-check-circle-o fa-2x text-success"
          aria-hidden="true"
        ></i>
        <i
          *ngIf="userDetail.optOutStatus !== 'Opt Out'"
          class="fa fa-times-circle-o fa-2x text-danger"
          aria-hidden="true"
        ></i>
      </td>
      <td>
        {{ userDetail.optOutDate }}
      </td>
      <td>
        {{ userDetail.optOutChannel }}
      </td>
      <td>
        {{ userDetail.requestId }}
      </td>
      <td>
        {{ userDetail.blockDate }}
      </td>
      <td>
        {{ userDetail.userName }}
      </td>
      <td>
        {{ userDetail.status }}
      </td>
      <td *ngIf="!isViewOnly">
        <button type="button" class="shadow" (click)="openBlockWhatsappDialog(userDetail)">
          {{ blockButtonText }}
        </button>
      </td>
      <td>
        {{ userDetail.reason ? userDetail.reason : "NA" }}
      </td>
      <td>
        {{ userDetail.srNumber ? userDetail.srNumber : "NA" }}
      </td>
    </tr>
  </table>
</div>
