<div class="main">
  <h2 *ngIf="isViewOnly">View Whatsapp</h2>
  <h2 *ngIf="!isViewOnly">Block Whatsapp</h2>
  <div class="p-2"></div>
  <div class="row">
    <div class="col">
      <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
        <div class="input-group">
          <div class="input-group-prepend">
            <button
              id="button-addon2"
              type="submit"
              class="btn btn-link search-icon"
            >
              <i class="fa fa-search"></i>
            </button>
          </div>
          <input
            type="search"
            placeholder="Type phone number to search"
            aria-describedby="button-addon2"
            class="form-control border-0 bg-light"
            #searchInput
            (keyup)="validate(searchInput)"
            autofocus
          />
        </div>
      </div>
    </div>
    <form [formGroup]="form" class="mx-auto" *ngIf="!isViewOnly">
      <div class="form-row">
        <div class="col">
          <div class="input-group calendar-fa-fa">
            <input
              class="form-control"
              name="mydate"
              placeholder="From Date"
              angular-mydatepicker
              #dp="angular-mydatepicker"
              formControlName="fromDate"
              [options]="fromDateOptions"
              (dateChanged)="onFromDateChange($event)"
              readonly
            />
            <div class="input-group-append">
              <button
                type="button"
                class="btn btn-secondary"
                (click)="dp.toggleCalendar()"
              >
                <i class="fa fa-calendar-o"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="input-group calendar-fa-fa">
            <input
              class="form-control"
              name="mydate"
              placeholder="To Date"
              angular-mydatepicker
              #toDate="angular-mydatepicker"
              formControlName="toDate"
              [options]="toDateOptions"
              (dateChanged)="onToDateChange($event)"
              readonly
            />
            <div class="input-group-append">
              <button
                type="button"
                class="btn btn-secondary"
                (click)="toDate.toggleCalendar()"
              >
                <i class="fa fa-calendar-o"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col">
          <select
            class="custom-select"
            formControlName="filterType"
            title="Filter Type"
            id="role"
          >
            <option *ngFor="let option of filterOptions" [value]="option">{{
              option | uppercase
            }}</option>
          </select>
        </div>
        <div class="search_btn col-md-3-fluid">
          <button
            (click)="onSubmit()"
            [disabled]="form.invalid || reportLoading"
          >
            {{ submitButtontext }}
          </button>
        </div>
      </div>
    </form>
  </div>
  <table class="shadow">
    <tr>
      <th>
        Customer Mobile Number
      </th>
      <th>
        Opt In
      </th>
      <th>
        Date of Opt In
      </th>
      <th>
        Opt In Channel
      </th>
      <th>
        Opt Out
      </th>
      <th>
        Date of Opt Out
      </th>
      <th>
        Opt Out Channel
      </th>
      <th>
        Request ID if blocked earlier
      </th>
      <th>
        Block Date
      </th>
      <th>
        Blocking User
      </th>
      <th>
        Status
      </th>
      <th *ngIf="!isViewOnly">
        Block Customer
      </th>
      <th>
        Reason
      </th>
      <th>
        SR No
      </th>
    </tr>
    <tr *ngIf="userDetail">
      <td>
        +91 9894192798
      </td>
      <td>
        <i
          class="fa fa-check-circle-o fa-2x text-success"
          aria-hidden="true"
        ></i>
      </td>
      <td>
        04/05/2020
      </td>
      <td>
        SMS
      </td>
      <td>
        <i
          class="fa fa-times-circle-o fa-2x text-danger"
          aria-hidden="true"
        ></i>
      </td>
      <td>
        04/05/2020
      </td>
      <td>
        SMS
      </td>
      <td>
        RQ32426299
      </td>
      <td>
        04/05/2020
      </td>
      <td>
        Arun
      </td>
      <td>
        <i class="fa fa-sign-in fa-2x text-success" aria-hidden="true"></i>
        <i class="fa fa-sign-out fa-2x text-danger" aria-hidden="true"></i>
      </td>
      <td *ngIf="!isViewOnly">
        <button type="button" data-toggle="modal" data-target="#myModal">
          Block
        </button>
      </td>
      <td>
        Lost
      </td>
      <td>
        1234&nbsp;5625&nbsp;4985
      </td>
    </tr>
  </table>
</div>
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4
          class="modal-title"
          style="width: 552px; font-size: x-large; color: #ff2182;"
        >
          Do you wish to Block ?
        </h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          style="display: contents;"
        >
          &times;
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <label for="usr" style="font-size: unset; color: #97144d;"
              >SR No:</label
            >
            <input type="text" class="form-control" id="usr" />
          </div>
          <div class="col-md-6">
            <label for="sel1" style="font-size: unset; color: #97144d;"
              >Reason</label
            >
            <input
              type="text"
              maxlength="10"
              type="text"
              class="form-control"
              id="Reason"
            />
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button
          type="button"
          style="color: white; background-color: #97144d;"
          mx-auto
          data-dismiss="modal"
        >
          {{ submitButtontext }}
        </button>
      </div>
    </div>
  </div>
</div>
