<!-- <ngb-progressbar
  *ngIf="loading"
  type="dark"
  height="0.5rem"
  [value]="100"
  [striped]="true"
  [animated]="true"
></ngb-progressbar> -->
<div class="loading-indicator">
  <div class="uploader-status">
<mat-spinner *ngIf = "loading"  mode="indeterminate"></mat-spinner>
</div>
</div>
<div class="row p-3">
  <div class="col-6"></div>
  <div class="col-6">
    <form [formGroup]="form">
      <div class="form-row">
        <div class="col">
          <div class="input-group">
            <input
              class="form-control bg-search btn-outline-secondary"
              placeholder="From Date"
              name="fromDate"
              formControlName="fromDate"
              (dateSelect)="onFromDateChange($event)"
              ngbDatepicker
              [maxDate]="fromMaxDate"
              [minDate]="fromMinDate"
              readonly
              #fromDate="ngbDatepicker"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary"
                (click)="fromDate.toggle()"
                type="button"
              >
                <i class="fa fa-calendar-check-o"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="input-group">
            <input
              class="form-control bg-search btn-outline-secondary"
              placeholder="To Date"
              name="toDate"
              formControlName="toDate"
              (dateSelect)="onToDateChange($event)"
              ngbDatepicker
              readonly
              [maxDate]="toMaxDate"
              [minDate]="toMinDate"
              #toDate="ngbDatepicker"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary"
                (click)="toDate.toggle()"
                type="button"
              >
                <i class="fa fa-calendar-check-o"></i>
              </button>
            </div>
            
          </div>
        </div>
        <div class="col">
          <select
            class="custom-select"
            formControlName="filterTemplateType"
            title="Filter templateType"
            id="role"
            (change)="onFilterTypeChange($event)"
          >
            <option
              *ngFor="let option of filterTemplateOptions"
              [value]="option.value"
              >{{ option.name }}</option
            >
          </select>
        </div>
        <div>
          <button matTooltip="Clear Filter" (click) = "clearFilter()" [disabled] = "!isFilterValid" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
          <mat-icon>clear_all</mat-icon>
          </button>
          </div>
        
        <!-- <div class="col">
          <select
            class="custom-select"
            formControlName="filterType"
            title="Filter Type"
            id="role"
            (change)="onFilterTypeChange($event)"
          >
            <option
              *ngFor="let option of filterOptions"
              [value]="option.value"
              >{{ option.name }}</option
            >
          </select>
        </div> -->
      </div>
    </form>
  </div>
</div>

<div class="table-responsive">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col" *ngFor="let header of tableHeaders">{{ header }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let template of templates">
        <td>
          <ng-template [ngIf] = "!template.templateId">
          <a>{{ template.id }}</a>
          </ng-template>
          <ng-template [ngIf] = "template.templateId">
          <a>{{ template.templateId }}</a>
          </ng-template>
        </td>
        <td>
          {{ template.template }}
        </td>
        <td>
          {{ template.startDate | customDateFilter }}
        </td>
          <td>{{ template.triggerTime }}</td>
          <td>{{ template.endDate | customDateFilter }}</td>  
          <td>
            <ng-template [ngIf] = "template.isPromotion === '1'">
              Promotional
            </ng-template>
            <ng-template [ngIf] = "template.isPromotion === '0'">
              Message
            </ng-template>
            <ng-template [ngIf] = "template.isPromotion !=='1' && template.isPromotion !== '0'">
              PreApproved Offers
            </ng-template>
          </td>
        
        <td>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button
              *ngIf="template.status === '10'"
              type="button"
              class="btn action-btn shadow mr-2"
              (click)="openApproveTemplateDialog(template)"
            >
              {{ launchButtonText }}
            </button>
            <button
              *ngIf="template.status === '10'"
              type="button"
              class="btn action-btn shadow"
              (click)="openRejectTemplateDialog(template)"
            >
              {{ rejectButtonText }}
            </button>
            <button
              *ngIf="template.status === '20'"
              type="button"
              class="btn rejected-btn shadow"
            >
              Rejected
            </button>
            <button
              *ngIf="template.status === '30'"
              type="button"
              class="btn approved-btn shadow"
            >
              Approved
            </button>
          </div>
        </td>
        
        <td>
          <ng-template [ngIf] = "template.documentId">
            <!-- <button mat-icon-button matTooltip="preview document" matTooltipClass="example-tooltip-red" aria-label="Example icon-button with a preview icon" (click) = "openFilePreviewDialog(template)">
              <mat-icon>preview</mat-icon>
            </button> -->
            <button mat-icon-button matTooltip="preview document" aria-label="Example icon-button with a preview icon" (click) = "openFilePreviewDialog(template,'pdf')" >
              <img src="assets/preview-black-24dp.svg">
            </button>
          </ng-template>
          <ng-template [ngIf] = "!template.documentId">
            No
          </ng-template>
        </td>
        <td>
          <ng-template [ngIf] = "template.csvDocId">
            <!-- <button mat-icon-button matTooltip="preview document" matTooltipClass="example-tooltip-red" aria-label="Example icon-button with a preview icon" (click) = "openFilePreviewDialog(template)">
              <mat-icon>preview</mat-icon>
            </button> -->
            <button mat-icon-button matTooltip="preview document" aria-label="Example icon-button with a preview icon" (click) = "openFilePreviewDialog(template,'csv')" >
              <img src="assets/preview-black-24dp.svg">
            </button>
          </ng-template>
          <ng-template [ngIf] = "!template.csvDocId">
            No
          </ng-template>
        </td>
      </tr>
    </tbody>  
  </table>
  <div class="d-flex justify-content-center p-2">
    <ngb-pagination
      [boundaryLinks]="true"
      [collectionSize]="collectionSize"
      [(page)]="currentPage"
      [pageSize]="pageSize"
      (pageChange)="onPageChanged(currentPage)"
    >
    </ngb-pagination>
  </div>
</div>
