<div class="modal-header">
  <h4 class="modal-title">
    Preview Template -<span class="text-message">T0000001</span>
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  template details will display here
</div>
<div class="modal-footer">
  <button
    type="button"
    ngbAutofocus
    class="btn btn-confirm shadow"
    (click)="close()"
  >
    {{ launchButtonText }}
  </button>
  <button type="button" class="btn btn-danger shadow" (click)="close()">
    {{ cancelButtonText }}
  </button>
</div>
