<ngb-progressbar
  *ngIf="loading"
  type="dark"
  height="0.5rem"
  [value]="100"
  [striped]="true"
  [animated]="true"
></ngb-progressbar>
<div class="row p-3">
  <div class="col-4"></div>
  <div class="col-8">
    <form [formGroup]="form">
      <div class="form-row">
        <div class="col">
          <div class="input-group">
            <input
              class="form-control bg-search btn-outline-secondary"
              placeholder="From Date"
              name="fromDate"
              formControlName="fromDate"
              (dateSelect)="onFromDateChange($event)"
              ngbDatepicker
              [maxDate]="fromMaxDate"
              [minDate]="fromMinDate"
              readonly
              #fromDate="ngbDatepicker"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary"
                (click)="fromDate.toggle()"
                type="button"
              >
                <i class="fa fa-calendar-check-o"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="input-group">
            <input
              class="form-control bg-search btn-outline-secondary"
              placeholder="To Date"
              name="toDate"
              formControlName="toDate"
              (dateSelect)="onToDateChange($event)"
              ngbDatepicker
              readonly
              [maxDate]="toMaxDate"
              [minDate]="toMinDate"
              #toDate="ngbDatepicker"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary"
                (click)="toDate.toggle()"
                type="button"
              >
                <i class="fa fa-calendar-check-o"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col">
          <select
            class="custom-select"
            formControlName="filterType"
            title="Filter Type"
            id="role"
            (change)="onFilterTypeChange($event)"
          >
            <option
              *ngFor="let option of filterOptions"
              [value]="option.value"
              >{{ option.name }}</option
            >
          </select>
        </div>
        <div class="col">
          <select
            class="custom-select"
            formControlName="filterTemplateType"
            title="Filter templateType"
            id="role"
            (change)="onFilterTypeChange($event)"
          >
            <option
              *ngFor="let option of filterTemplateOptions"
              [value]="option.value"
              >{{ option.name }}</option
            >
          </select>
        </div>
          <button matTooltip="Clear Filter" (click) = "clearFilter()" [disabled] = "!isFilterValid" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>clear_all</mat-icon>
            </button>
      </div>
    </form>
  </div>
</div>

<div class="table-responsive">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col" *ngFor="let header of tableHeaders">{{ header }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of templates">
        <td>
          <ng-template [ngIf] = "!item.templateId">
          <a>{{ item.id }}</a>
          </ng-template>
          <ng-template [ngIf] = "item.templateId">
          <a>{{ item.templateId }}</a>
          </ng-template>
        </td>
        <td>
          {{ item.template }}
        </td>
        <td>{{ item.startDate | customDateFilter }}</td>
        <td>{{ item.triggerTime }}</td>
        <td>{{ item.endDate  | customDateFilter }}</td>
        <td>
          <ng-template [ngIf] = "item.isPromotion === '1'">
            Promotional
          </ng-template>
          <ng-template [ngIf] = "item.isPromotion === '0'">
            Message
          </ng-template>
          <ng-template [ngIf] = "item.isPromotion !=='1' && item.isPromotion !== '0'">
            PreApproved Offers
          </ng-template>
        </td>
        <td>
          <span class="p-1 bg-maroon rounded-pill" *ngIf="item.status === '10'"
            >SUBMITTED</span
          >
          <span
            class="p-1 approved-btn rounded-pill"
            *ngIf="item.status === '30'"
            >APPROVED</span
          >
          <span
            class="p-1 rejected-btn rounded-pill"
            *ngIf="item.status === '20'"
            >REJECTED</span
          >
          <br />
        </td>
        <td>
          <span *ngIf="item.status === '20'">{{ item.reason }}</span>
          <span *ngIf="item.status !== '20'">-</span>
        </td>
        <td>
          <ng-template [ngIf] = "item.documentId">
            <!-- <button mat-icon-button matTooltip="preview document" matTooltipClass="example-tooltip-red" aria-label="Example icon-button with a preview icon" (click) = "openFilePreviewDialog(template)">
              <mat-icon>preview</mat-icon>
            </button> -->
            <button mat-icon-button matTooltip="preview document" aria-label="Example icon-button with a preview icon" (click) = "openFilePreviewDialog(item,'pdf')" >
               <img src="assets/preview-black-24dp.svg">
            </button>
          </ng-template>
          <ng-template [ngIf] = "!item.documentId">
            No
          </ng-template>
        </td>
        <!-- <td>
          <ng-template [ngIf] = "item.csvDocId">
            <button mat-icon-button matTooltip="preview document" aria-label="Example icon-button with a preview icon" (click) = "downLoadCsv(item)" >
              <img src="assets/preview-black-24dp.svg">
            </button>
          </ng-template>
          <ng-template [ngIf] = "!item.csvDocId">
            No
          </ng-template>
        </td> -->
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center p-2">
    <ngb-pagination
      [boundaryLinks]="true"
      [collectionSize]="collectionSize"
      [(page)]="currentPage"
      [pageSize]="pageSize"
      (pageChange)="onPageChanged(currentPage)"
    >
    </ngb-pagination>
  </div>
</div>
